@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Inter:wght@700;800&family=Poppins:wght@700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

